<plugin_info>
    <plugin_name>Debug Import</plugin_name>
    <plugin_dir>.</plugin_dir>
    <plugin_description>A plugin that allows the user to upload a file. It then saves the file to /tmp and returns.</plugin_description>
    <plugin_category>import</plugin_category>
    <plugin_command>import.py</plugin_command>
    <plugin_shell>python</plugin_shell>
    <plugin_location>.</plugin_location>
    <plugin_namespace>debug</plugin_namespace>
    <plugin_nativelogextension>log</plugin_nativelogextension>
    <plugin_nativeoutputextension>out</plugin_nativeoutputextension>
    <plugin_epilog>
        Written by Stephen Knox (stephen.knox@manchester.ac.uk)
        For more information visit www.hydraplatform.org
    </plugin_epilog>
    <smallicon></smallicon>
    <largeicon></largeicon>
    <mandatory_args>
        <arg>
            <name>project-id</name>
            <switch>--project-id</switch>
            <multiple>N</multiple>
            <allownew>N</allownew>
            <argtype>project</argtype>
            <help>Id of the network the plugin is pretending to work on.</help>
        </arg>
        <arg>
            <name>data_file</name>
            <switch>--data-file</switch>
            <multiple>N</multiple>
            <allownew>N</allownew>
            <argtype>file</argtype>
            <help>The file to upload</help>
        </arg>
    </mandatory_args>
    <non_mandatory_args>
        <arg>
            <name>dummy1</name>
            <switch>--dummy1</switch>
            <multiple>N</multiple>
            <allownew>N</allownew>
            <argtype>string</argtype>
            <help>A non-mandatory dummy argument (string).</help>
        </arg>
        <arg>
            <name>dummy2</name>
            <switch>--dummy2</switch>
            <multiple>N</multiple>
            <allownew>N</allownew>
            <argtype>number</argtype>
            <help>A non-mandatory dummy argument with a default value.</help>
            <defaultval>4</defaultval>
        </arg>
        <arg>
            <name>dummy3</name>
            <switch>--dummy3</switch>
            <multiple>N</multiple>
            <allownew>N</allownew>
            <argtype>number</argtype>
            <help>A non-mandatory dummy argument (number).</help>
        </arg>
    </non_mandatory_args> 
    <switches>
        <arg>
            <switch>--switch-on</switch>
            <name>dummyswitch</name>
            <help>A dummy switch</help>
        </arg>
        <arg>
            <switch>--fail</switch>
            <name>failswitch</name>
            <help>The plugin fails if this switch is used.</help>
        </arg>
    </switches>
</plugin_info>
